$primary:#1d3557;
@import "./scss/bootstrap";
@import "./scss/login.scss";

#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    min-height: 100vh;
}

main{
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}